---
const pageTitle = "My Astro Learning Blog";
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
const allPosts = await getCollection("posts") || []; 

import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from "astro:content";
---


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>

    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>

  </head>
  <body>
	
    <BaseLayout pageTitle={pageTitle}>
      <p>This is where I will post about my journey learning Astro.</p>
      <ul>
        {allPosts.map((post) => (
          <li><a href={post.url}>{post.data.title}</a></li>
        ))}
      </ul>
    </BaseLayout>

  </body>
</html>